body {
    background-color: #191919 !important; /* Tumma tausta */
    color: #ffffff !important; /* Valkoinen teksti */
}








.mood-button {
    margin: 10px;
    padding: 0; /* Varmista, että nappien sisältö ei lisää ylimääräistä tilaa */
    position: relative;
    border: 0px; /* Lisää reunat */
    width: 80px; /* Voit säätää kokoa */
    height: 80px; /* Voit säätää kokoa */
    display: flex; /* Varmista, että sisältö pysyy keskitettynä */
    justify-content: space-between; /* Jakaa elementit tasaisesti */
    align-items: center; /* Keskittää sisällön pystysuunnassa */
}

.mood-button img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.mood-value {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.mood-button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.mood-container {
    position: relative;
    display: flex; /* Asettaa elementit riviin */
    flex-wrap: wrap; /* Rivitä elementit uudelle riville tarvittaessa */
    justify-content: center; /* Keskittää elementit vaakasuunnassa */
    align-items: center; /* Keskittää elementit pystysuunnassa */
    max-width: 100%; /* Varmista, että kontti ei ylitä näytön leveyttä */
    padding: 10px; /* Lisää vähän tilaa reunoille */
    box-sizing: content-box;
}

.chart-container {
    position: center;
    height: 80%; /* Säädä kuvaajan korkeutta */
    width: 80%; /* Säädä kuvaajan leveyttä */
    padding: 20px;
    border-radius: 8px;
}

.chart-container canvas {
    background-color: rgba(47, 47, 47, 0.8); /* Valkoinen väri 80% läpinäkyvyydellä */
}