/* Yleiset tyylit */
body {
    color: #ffffff !important; /* Valkoinen teksti */
    background-image: url('/Pictures/4069621.jpg') !important; /* Taustakuva */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

/* Taustaväri ja teksti */
.background-colored {
    background-color: #222220 !important; /* Tumma tausta */
    color: #ffffff !important; /* Valkoinen teksti */
}

/* Lomakkeen tyylit */
.form-container {
    max-width: 500px; /* Rajaa lomakkeen leveyttä */
    margin: 0 auto; /* Keskittää lomakkeen */
    padding: 20px; /* Lisää täyttöä */
    background-color: rgba(34, 34, 32, 0.9); /* Tumma tausta, hieman läpinäkyvä */
    border-radius: 10px; /* Pyöristetyt kulmat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lisää varjo */
}

.form-group {
    margin-bottom: 15px; /* Lisää väliä lomakekenttien väliin */
}

.form-control {
    width: 100%; /* Lomakekentät täyttävät koko leveyden */
    padding: 10px; /* Lisää täyttöä */
    border: 1px solid #ccc; /* Lisää reunus */
    border-radius: 5px; /* Pyöristetyt kulmat */
    background-color: #fff; /* Valkoinen tausta */
    color: #000; /* Musta teksti */
}

/* Painikkeiden tyylit */

.btn {
    width: 200px; /* Painikkeet täyttävät koko leveyden */
    
}
.btn-primary {
    background-color: #494F3F; /* Sininen tausta */
    border-color: #494F3F; /* Sininen reunus */
    color: #fff; /* Valkoinen teksti */
    padding: 10px 20px; /* Lisää täyttöä */
    border-radius: 5px; /* Pyöristetyt kulmat */
    cursor: pointer; /* Vaihda kursori osoittimeksi */
}

.btn-primary:hover {
    background-color: #3C4133; /* Tummempi sininen hover-tilassa */
    border-color: #3C4133; /* Tummempi sininen reunus hover-tilassa */
}

.btn-secondary {
    background-color: #B9AFA7; /* Harmaa tausta */
    border-color: #B9AFA7; /* Harmaa reunus */
    color: #fff; /* Valkoinen teksti */
    padding: 10px 20px; /* Lisää täyttöä */
    border-radius: 5px; /* Pyöristetyt kulmat */
    cursor: pointer; /* Vaihda kursori osoittimeksi */
}

.btn-secondary:hover {
    background-color: #928376; /* Tummempi harmaa hover-tilassa */
    border-color: #928376; /* Tummempi harmaa reunus hover-tilassa */
}

/* Erilliset luokat eri kohdissa oleville napeille */
.btn-save {
    background-color: #28a745; /* Vihreä tausta */
    border-color: #28a745; /* Vihreä reunus */
    color: #fff; /* Valkoinen teksti */
    padding: 10px 20px; /* Lisää täyttöä */
    border-radius: 5px; /* Pyöristetyt kulmat */
    cursor: pointer; /* Vaihda kursori osoittimeksi */
}

.btn-save:hover {
    background-color: #218838; /* Tummempi vihreä hover-tilassa */
    border-color: #1e7e34; /* Tummempi vihreä reunus hover-tilassa */
}

.btn-overwrite {
    background-color: #dc3545; /* Punainen tausta */
    border-color: #dc3545; /* Punainen reunus */
    color: #fff; /* Valkoinen teksti */
    padding: 10px 20px; /* Lisää täyttöä */
    border-radius: 5px; /* Pyöristetyt kulmat */
    cursor: pointer; /* Vaihda kursori osoittimeksi */
}

.btn-overwrite:hover {
    background-color: #c82333; /* Tummempi punainen hover-tilassa */
    border-color: #bd2130; /* Tummempi punainen reunus hover-tilassa */
}

/* Varoitusviestin tyylit */
.alert-warning {
    background-color: #B49151; /* Keltainen tausta */
    color: #000000; /* Tumma teksti */
    padding: 10px; /* Lisää täyttöä */
    border-radius: 5px; /* Pyöristetyt kulmat */
    margin: 0 auto; /* Keskittää elementin vaakasuunnassa */
    width: fit-content; /* Asettaa leveyden sisällön mukaan */
}

/* Moodin valintanappien tyylit */
.mood-button {
    margin: 10px;
    padding: 0; /* Varmista, että nappien sisältö ei lisää ylimääräistä tilaa */
    position: relative;
    border: 0px; /* Lisää reunat */
    width: 80px; /* Voit säätää kokoa */
    height: 80px; /* Voit säätää kokoa */
    display: flex; /* Varmista, että sisältö pysyy keskitettynä */
    justify-content: center; /* Keskittää sisällön vaakasuunnassa */
    align-items: center; /* Keskittää sisällön pystysuunnassa */
}

.mood-button img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.mood-value {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.mood-button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Moodin valintakontin tyylit */
.mood-container {
    position: relative;
    display: flex; /* Asettaa elementit riviin */
    flex-wrap: wrap; /* Rivitä elementit uudelle riville tarvittaessa */
    justify-content: center; /* Keskittää elementit vaakasuunnassa */
    align-items: center; /* Keskittää elementit pystysuunnassa */
    max-width: 100%; /* Varmista, että kontti ei ylitä näytön leveyttä */
    padding: 10px; /* Lisää vähän tilaa reunoille */
    box-sizing: content-box;
}

/* Kuvaajan tyylit */
.chart-container {
    position: center;
    height: 80%; /* Säädä kuvaajan korkeutta */
    width: 80%; /* Säädä kuvaajan leveyttä */
    padding: 20px;
    border-radius: 8px;
}

.chart-container canvas {
    background-color: rgba(47, 47, 47, 0.8); /* Tumma tausta, 80% läpinäkyvä */
}

/* Näkymän valintanappien tyylit */
.view-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Väli nappien välillä */
    
}

.view-button {
    width: 200px;
    font-size: 14px; /* Pienentää tekstin kokoa */
    margin-bottom: 20px; /* Lisää väliä alapuolelle */
}

.view-label {
    display: block;
    width: 100%;
    text-align: center;


}