@page
@model FiilismittariSovellus.Pages.MoodMeterModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@{
    ViewData["Title"] = "Fiilismittari";
}

<div class="text-center">
    <h1 class="display-4">Fiilismittari</h1>
    <p>Tervetuloa käyttämään fiilismittaria!</p>
    <!-- Lisää fiilismittarin käyttöliittymä tähän -->
</div>